################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
.vscode/settings.json
a.out
client.o
connection.o
error.o
lte_attach.o
lte_client
valgrind-out.txt
find.sh
.valgrind-out.txt.swp
